h1 {
    font-size: 3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-size: 2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h3{
    font-size: 1.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h4{
    font-size: 1.2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

ul {
    list-style-type:square;
}
html,
body {
    height: 100%;
    margin: 0.5em;
    padding: 0.5em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
#input_form {
    margin: 1.0%;
    padding: 1.0%;
    min-width: 25%;
    float: left;
    border-style:hidden;


}
#display_object{
    margin: 1.0%;
    padding: 1.0%;
    min-width: 500px;
    max-width: 50%;
    float: left;
    border-style: hidden;

    
}
#search_results{
    margin: 1.0%;
    padding: 1.0%;
    float: left;
}

#object_info{
    float:left;
}
.objectImage {
    margin: 0.5%;
    padding: 0.5%;
    max-width: 100%;
    max-height: 100%;
}
.inputLabel {
    margin: 0.1em;
    padding: 0.1em;
    height: 0.9em;
    width: 10em;
    float:left;
}
.inputBox {
    margin: 0.1em;
    padding: 0.1em;
    height: 0.9em;
    float: right;
}
.inputCheck{
    margin: 0.5em;
    padding: 0.5em;
    float: right;
}
.radioLabel{
    margin: 0.1em;
    padding: 0.1em;
    float:left;
    height: 0.1em;
    width: 10em;
}
.radioCheck {
    margin: 0.1em;
    padding: 0.1em;
    float: right;
}

.submitButton {
    margin: 0.5em;
    padding: 0.5em;
    height: 2.5em;
    float: right;
    border-radius: 10%;
    background-color: rgb(247, 255, 213);

    
}